<div [@routerTransition]>
    <app-page-header [heading]="'View Profile'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <form #customerForm="ngForm">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="custId">Customer ID  </label>
                        <input type="text" class="form-control" id="custId" [disabled]="true" required [(ngModel)]="custModel.custId" name="custId"
                            #custId="ngModel">
                        <div *ngIf="custId.errors && (custId.dirty || custId.touched)" class="alert alert-danger">
                            <div [hidden]="!custId.errors.required">
                                Customer ID is required!
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="custFirstName">Customer First Name  </label>
                        <input type="text" class="form-control" id="custFirstName" [disabled]="!isEdit" required [(ngModel)]="custModel.custFirstName" name="custFirstName"
                            #custFirstName="ngModel">
                        <div *ngIf="custFirstName.errors && (custFirstName.dirty || custFirstName.touched)" class="alert alert-danger">
                            <div [hidden]="!custFirstName.errors.required">
                                Customer First Name is required!
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="custLastName">Customer Last Name  </label>
                        <input type="text" class="form-control" id="custLastName" [disabled]="!isEdit" required [(ngModel)]="custModel.custLastName" name="custLastName"
                            #custLastName="ngModel">
                        <div *ngIf="custLastName.errors && (custLastName.dirty || custLastName.touched)" class="alert alert-danger">
                            <div [hidden]="!custLastName.errors.required">
                                Customer Last Name is required!
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="custTelephoneNo">Telephone Number  </label>
                        <input type="tel" pattern="^\d{10}$" class="form-control" id="custTelephoneNo" [disabled]="!isEdit" required [(ngModel)]="custModel.custTelephoneNo"
                            name="custTelephoneNo" #custTelephoneNo="ngModel">
                        <div *ngIf="custTelephoneNo.errors && (custTelephoneNo.dirty || custTelephoneNo.touched)" class="alert alert-danger">
                            <div [hidden]="!custTelephoneNo.errors.required">
                                Telephone Number is required!
                            </div>
                            <div [hidden]="!custTelephoneNo.errors.pattern">
                                Enter Valid Telephone Number!
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="custAlternativeTelephoneNo">Alternative Telephone Number  </label>
                        <input type="tel" pattern="^\d{10}$" class="form-control" id="custAlternativeTelephoneNo" [disabled]="!isEdit" required [(ngModel)]="custModel.custAlternativeTelephoneNo"
                            name="custAlternativeTelephoneNo" #custAlternativeTelephoneNo="ngModel">
                        <div *ngIf="custAlternativeTelephoneNo.errors && (custAlternativeTelephoneNo.dirty || custAlternativeTelephoneNo.touched)"
                            class="alert alert-danger">
                            <div [hidden]="!custAlternativeTelephoneNo.errors.required">
                                Alternative Telephone Number is required!
                            </div>
                            <div [hidden]="!custAlternativeTelephoneNo.errors.pattern">
                                Enter Valid Telephone Number!
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="custEmail">Email Id  </label>
                        <input type="text" [pattern]="emailPattren" class="form-control" id="custEmail" [disabled]="!isEdit" required [(ngModel)]="custModel.custEmail"
                            name="custEmail" #custEmail="ngModel">
                        <div *ngIf="custEmail.errors && (custEmail.dirty || custEmail.touched)" class="alert alert-danger">
                            <div [hidden]="!custEmail.errors.required">
                                Email Id is required!
                            </div>
                            <div [hidden]="!custEmail.errors.pattern">
                                Enter Valid Email!
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="custAddressLine1">Address Line 1  </label>
                        <textarea class="form-control" style="width: 100%;resize: none;" ref-textarea id="custAddressLine1" [disabled]="!isEdit" required [(ngModel)]="custModel.custAddressLine1"
                            name="custAddressLine1" #custAddressLine1="ngModel" rows="2"></textarea>
                        <div *ngIf="custAddressLine1.errors && (custAddressLine1.dirty || custAddressLine1.touched)" class="alert alert-danger">
                            <div [hidden]="!custAddressLine1.errors.required">
                                Address line 1 is required!
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="custAddressLine2">Address Line 2  </label>
                        <textarea class="form-control" style="width: 100%;resize: none;" ref-textarea id="custAddressLine2" [disabled]="!isEdit" required [(ngModel)]="custModel.custAddressLine2"
                            name="custAddressLine2" #custAddressLine2="ngModel" rows="2"></textarea>
                        <!-- <div *ngIf="custAddressLine2.errors && (custAddressLine2.dirty || custAddressLine2.touched)" class="alert alert-danger">
                            <div [hidden]="!custAddressLine2.errors.required">
                                Address line 2 are required!
                            </div>
                        </div> -->
                    </div>
                    <div class="form-group">
                        <label for="custCity">City</label>
                        <input type="text" class="form-control" id="custCity" [disabled]="!isEdit" required [(ngModel)]="custModel.custCity" name="custCity"
                            #custCity="ngModel">
                        <div *ngIf="custCity.errors && (custCity.dirty || custCity.touched)" class="alert alert-danger">
                            <div [hidden]="!custCity.errors.required">
                                City is required!
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="custRegion">Region</label>
                        <input type="text" class="form-control" id="custRegion" [disabled]="!isEdit" required [(ngModel)]="custModel.custRegion"
                            name="custRegion" #custRegion="ngModel">
                        <div *ngIf="custRegion.errors && (custRegion.dirty || custRegion.touched)" class="alert alert-danger">
                            <div [hidden]="!custRegion.errors.required">
                                Region is required!
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="custCountry">Country</label>
                        <input type="text" class="form-control" id="custCountry" [disabled]="!isEdit" required [(ngModel)]="custModel.custCountry"
                            name="custCountry" #custCountry="ngModel">
                        <div *ngIf="custCountry.errors && (custCountry.dirty || custCountry.touched)" class="alert alert-danger">
                            <div [hidden]="!custCountry.errors.required">
                                Country is required!
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="custPincode">Pincode</label>
                        <input type="text" class="form-control" id="custPincode" [disabled]="!isEdit" required [(ngModel)]="custModel.custPincode"
                            name="custPincode" #custPincode="ngModel">
                        <div *ngIf="custPincode.errors && (custPincode.dirty || custPincode.touched)" class="alert alert-danger">
                            <div [hidden]="!custPincode.errors.required">
                                Pincode is required!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <tru-flat-details *ngFor="let flat of flatDetails;let i = index" [index]="i" [projectFlatDetails]="flat"></tru-flat-details>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12" style="text-align: center;">
                <button type="button" *ngIf="!isEdit" (click)="OnEditBtnClick()" class="btn btn-primary">Edit Details</button>
                <button type="button" *ngIf="isEdit" (click)="OnUpdateBtnClick()" [disabled]="!customerForm.form.valid" class="btn btn-primary">Update Details</button>
            </div>
        </div>

    </form>
</div>