<div class="card bg-light mb-3">
    <div class="card-header" (click)="toggle()">{{index +1}} Flat Details</div>
    <div class="card-body" [hidden]="!opened &&  index !== 0">
        <div class="row">
            <div class="col-sm-8">
                <label for="custProject">Project:</label>
                <input type="text" class="form-control" id="custProject" [disabled]="true" required [(ngModel)]="custModel.custProject" name="custProject"
                    #custId="ngModel">
            </div>
            <div class="col-sm-4">
                <label for="custBHK">BHK:</label>
                <input type="text" class="form-control" id="custBHK" [disabled]="true" required [(ngModel)]="custModel.custBHK" name="custBHK"
                    #custId="ngModel">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <label for="custTower">Tower:</label>
                <input type="text" class="form-control" id="custTower" [disabled]="true" required [(ngModel)]="custModel.custTower" name="custTower"
                    #custId="ngModel">
            </div>
            <div class="col-sm-4">
                <label for="custType">Type:</label>
                <input type="text" class="form-control" id="custType" [disabled]="true" required [(ngModel)]="custModel.custType" name="custType"
                    #custId="ngModel">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <label for="custFlat">Flat:</label>
                <input type="text" class="form-control" id="custFlat" [disabled]="true" required [(ngModel)]="custModel.custFlat" name="custFlat"
                    #custId="ngModel">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div *ngIf="Latitude && Longitude">
                    <label>Project Site location</label>
                    <app-google-map #temp [Latitude]="Latitude" [Longitude]="Longitude"></app-google-map>
                </div>
            </div>
        </div>
    </div>
</div>